/* work sans font family google font  */

body{
    
    font-family: "Work Sans", sans-serif;
} 
/* header related title  */
header{
    background-color: #f8f1e9;
    border: 2px solid black;
    padding: 50px 240px;

}
nav{
    display: flex;
    text-align:center;
    justify-content:space-between;
    
}
nav >ul{
    display: flex;
    margin: 20px;
}
nav li{
    list-style: none;
    font-size: 1rem ;
    font-weight: 500px;
    margin-right: 30px;
}
ul a{
    text-decoration: none;
}
.banner-container{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.scetion-title{
    font-weight: 700px;
    font-size: 4rem;
    color: #131313;
}
.text-light-gray{
    color: #727272;
    font-size: 16px;
    margin:10px;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    margin: 5px 15px;
    padding:20px 25px ;
    border-radius: 8px;
    font-size: 1.25rem;
    border: 0;
    cursor: pointer;
}
  /* main styles */
      
  .teams-container{
    max-width:1440px;
    margin: 0 auto;
    border: 2px solid red;
}
/* teams style  */
.teams-container{
    display: flex;
    align-items:center ;
    
}
.teams-img-conntainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
} 
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.teams-title{
    font-size: 45px;
}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
 .teams-title .text-feature{
    color: #FF900E;
    font-size: 700;
 }
 /* feature styles  */
 .feature{
    margin-top: 130px;
    display: flex;
    gap: 100px;

 }
 .feature-content .card{
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px 0px;
    
 }
 .feature .scetion-title{
   border-left: 5px solid #FF900E;
   padding-left: 20px;
 }
 .ten-years-badge{
    border: 8px;
    background: #FF900E;
    color: #FFFFFF;
    width: 342px;
    padding: 40px;
 }
 .ten-years-badge h2{
    
 }
 /* facts section  */
 .facts{
    border: 3px solid palegreen;
 }
 .fact-card-container{
    display: flex;
    justify-content: space-around;
    border: 3px solid gray;

 }
 .fact-card-container .card-title{
    font-size:1.25rem ;
    font-weight: 600;
    

 }
 .card-title{
    padding: 1px 5px;
 }
 .fact-card-container .card-starts{
    font-size: 2.8rem;
    color: #727272;
    margin-top: 5px;
    margin-bottom: 5px;
 }
 .fact-card-container .card{
    border-radius: 8px;
    border: 2px solid #FF900E;
    text-align: center;
    padding:40px 30px ;
    margin-top: 5px;
 }
 /* sponsors styles  */
 .sponsors{
    border: 3px solid red;
    text-align: center;
    margin-top: 10px;
 }
 .sponsors-img-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    
 }
 .sponsors-img-container img{
    width: 165px;
 }
 .sponsor-description{
    padding: 20px 25px;
    
 }
 .sponsor-title{
    margin-bottom: 10px;
 }

  
/* responsive media queries */
/* mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container, 
    .fact-card-container,
    .sponsors-img-container 
    {
        flex-direction: column;
    }
    .teams-img-conntainer{
        grid-template-columns: 1fr;
    }
    .teams-content, .fact-card-container {
        padding-right: 20px;
        padding-left: 20px;
   
}
}
/* tablet or medium devices */
    @media screen and (min-width:576px) and (max-width:960px) {
        header{
            padding: 50px;
        }
        nav, 
        .teams-container,
        .fact-card-container,
        .sponsors-img-container
        {
            flex-direction: column;
        }
        .fact-card-container, .sponsors-img-container{
            gap: 20px;
        }
    }
   
    
